<?xml version="1.0" ?>

<plugin>
    
    <extension id="DLQueryTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="DL Query"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="Q"/>
        <defaultViewConfigFileName value="viewconfig-dlquerytab.xml"/>
    </extension>

    <extension id="OWLDescriptionEditorViewComponent"
     		   point="org.protege.editor.core.application.ViewComponent">
        <label value="Query"/>
        <class value="org.coode.dlquery.OWLDescriptionEditorViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>

</plugin>